[submodule ".registry"]
	path = .registry
	url = https://github.com/covid19-forecast-hub-europe/universe
	shallow = true
	branch = HEAD
[submodule "ForecastHubValidations"]
	path = ForecastHubValidations
	url = https://github.com/covid19-forecast-hub-europe/ForecastHubValidations
	shallow = true
	registered = true
[submodule "ForecastHubSubmissionApp"]
	path = ForecastHubSubmissionApp
	url = https://github.com/covid19-forecast-hub-europe/ForecastHubSubmissionApp
	shallow = true
	registered = true
[submodule "covidHubUtils"]
	path = covidHubUtils
	url = https://github.com/reichlab/covidHubUtils
	shallow = true
	registered = false
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	shallow = true
	registered = false
[submodule "scoringutils"]
	path = scoringutils
	url = https://github.com/epiforecasts/scoringutils
	shallow = true
	branch = issue-174
	registered = false
[submodule "zoltr"]
	path = zoltr
	url = https://github.com/reichlab/zoltr
	shallow = true
	registered = false
